h1,h3
{
    text-align: center;
}
#report-container
{
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
}
#report-container .row
{
    !important;
    margin-left: auto;
    margin-right: auto;
}
#report-header
{
    width: 60%;
    height: 34px;
    display: block;
}
#month-header
 {
    padding-left: 0;
    padding-right: 0;
    line-height: 34px;
 }
#month-select
{
    !important;
    width: 50%;
}
#report-body
{
    width: 60%;
    margin-top: 30px;
}