#personal_content
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1108px;
}
.employee_block
{
    display: inline-block;
    width: 254px;
    height: 480px;
    margin: 10px 52px;
    padding: 4px;
    vertical-align: top;
}
.employee_block img
{
    width: 254px;
    height: 367px;
}
.employee_block h2,h3
{
    font-family: Roboto;
    text-align: center;
}
.employee_block h3
{
    font-size: 1em;
}
.employee_block h2
{
    font-size: 1.1em;
}
h1
{
    text-align: center;
}
