h2
{
    text-align: center;
    margin-top: 33px;
}
.container-row
{
    width: 85%;
    display: block;
    margin: 60px auto 0;
}
.tab-content
{
    !important;
    margin-top: 15px;
    margin-left: 7px;
}
#submit-button
{
    border: none;
    width: 100px;
    display: block;
    margin: 0 auto;
}
body
{
    !important;
    padding-bottom: 0;
}