#photo_gallery
{
    width: 586px;
    height: 450px;
    overflow-x: hidden;
    position: relative;
}
#photo_gallery ul
{
    width: 1800px;
    height: 450px;
    overflow-x: hidden;
    position: absolute;
    left:0;
    right: 0;
    margin:0;
    margin-left: 3px;
    padding: 0;

}

#photo_gallery ul li
{
    width:586px;
    height: 450px;
    display: inline-block;
    margin:0;
    margin-left: -4px;
}
.service_img
{
    !important;
    float: left;
    display: block;
    margin:0;

}