@charset "UTF-8";

#Window
{
    position: relative;
    width: inherit;
    height: inherit;
    font-size: 18px ;
    font-family: Roboto;
    font-weight: 400;
    border-radius: 4px;
    padding: 6px 27px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2));
}
#triangle_container
{
    width: 200px;
    height: 110px;
    position: absolute;
    top: 140px;
    right: 72px;
    display: none;
}

#Window:after
{
    content: '';
    position: absolute;
    top: -35px;
    left: 193px;
    border: 15px solid transparent;
    border-bottom: 20px solid rgba(0,0,0,0.1);
}