@charset "UTF-8";

#Window
{
    position: relative;
    width: 254px;
    height: 122px;
    font-size: 18px ;
    font-family: Roboto;
    font-weight: 400;
    padding: 6px 27px;
    border-radius: 4px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2));
}
#triangle_container
{
    width: 254px;
    height: 122px;
    position: absolute;
    top: 137px;
    right: 18px;
    display: none;
}

#Window:after
{
    content: '';
    position: absolute;
    top: -35px;
    left: 193px;
    border: 15px solid transparent;
    border-bottom: 20px solid rgba(0,0,0,0.1);
}
#Window input[type=text]
{
    font-family: Roboto, sans-serif;
    font-size:14px;
    height: 23px;
}
#Window .btn
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}