@import "addressField.css";
form
{
    display: block;
    height: inherit;
    width: 100%;
}

#form p
{
    font-size: 24px ;
    font-family: Roboto;
    text-align: center;
}

#input_table caption
{
    font-size: 30px ;
    font-family: Roboto;
    margin-bottom: 10px;
}

.caption-fild
{
    font-size: 22px ;
    font-family: Roboto;
    margin-bottom: 10px;
}

.input-fild
{
    border-radius: 4px;
    box-shadow: 0 0 7px rgb(240, 248, 255);
}

.td-1
{
    padding-top: 0;
    padding-bottom: 0;
}

#button
{
    font-size: 18px ;
    font-family: Roboto;
    border-radius: 4px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 27px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2));
}

#button:hover
{
    box-shadow: 0 0 7px rgb(240, 248, 255);
}

#form
{
    position: relative;
    height: 500px;
    width: 65%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 175px;
}

#input_table
{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
